$enable-rounded: false;
$btn-border-width: 2px;

@import '~bootstrap/scss/bootstrap';
@import '../../scss/r9-components';

#underline-from-left {
    @include underline-from-left();

    &:hover {
        text-decoration: none;
    }
}

#sweep-to-right {
    @include sweep-to-right(theme-color('primary'));

    &:hover {
        background-color: transparent;
    }
}
