// Buttons

%btn-icon-base {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.btn-icon {
    @extend %btn-icon-base;
    width: $btn-icon-size;
    height: $btn-icon-size;
    @include font-size($btn-icon-font-size);
}

.btn-icon-sm {
    @extend %btn-icon-base;
    width: $btn-icon-size-sm;
    height: $btn-icon-size-sm;
    @include font-size($btn-icon-font-size-sm);
}
