// stylelint-disable selector-no-qualifying-type

// Footer

.footer {
    .footer-title {
        font-size: $footer-title-font-size;
        font-weight: $footer-title-font-weight;
    }

    .footer-text {
        padding-top: $nav-link-padding-y;
        padding-bottom: $nav-link-padding-y;
    }
}

.footer-light {
    .footer-title {
        color: $footer-light-title-color;
    }

    .footer-nav {
        .nav-link {
            color: $footer-light-color;

            &:hover,
            &:focus {
                color: $footer-light-hover-color;
            }

            &.disabled {
                color: $footer-light-disabled-color;
            }
        }

        .show > .nav-link,
        .active > .nav-link,
        .nav-link.show,
        .nav-link.active {
            color: $footer-light-active-color;
        }
    }

    .footer-text {
        color: $footer-light-text-color;

        a {
            color: $footer-dark-color;

            &:hover,
            &:focus {
                color: $footer-dark-hover-color;
            }
        }
    }
}

.footer-dark {
    .footer-title {
        color: $footer-dark-title-color;
    }

    .footer-nav {
        .nav-link {
            color: $footer-dark-color;

            &:hover,
            &:focus {
                color: $footer-dark-hover-color;
            }

            &.disabled {
                color: $footer-dark-disabled-color;
            }
        }

        .show > .nav-link,
        .active > .nav-link,
        .nav-link.show,
        .nav-link.active {
            color: $footer-dark-active-color;
        }
    }

    .footer-text {
        color: $footer-dark-text-color;

        a {
            color: $footer-dark-color;

            &:hover,
            &:focus {
                color: $footer-dark-hover-color;
            }
        }
    }
}
