// Hero

.hero {
    position: relative;

    .hero-body {
        position: relative;
        z-index: 20;
        height: $hero-md;
    }

    .hero-view {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.hero-title {
    font-size: $hero-title-font-size;
}

.hero-body {
    &.hero-sm {
        height: $hero-sm;
    }

    &.hero-lg {
        height: $hero-lg;
    }

    &.hero-xl {
        height: $hero-xl;
    }
}

@each $name, $value in $hero-overlays {
    .hero-overlay-#{$name} {
        background-color: rgba($black, $value);
    }
}
