// Hero

.hero {
    position: relative;

    .hero-view {
        display: block;
        height: $hero-md;
        width: 100%;
        object-fit: cover;
    }

    .hero-body {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
    }
}

@each $name, $value in $hero-overlays {
    .hero-overlay-#{$name} {
        background-color: rgba($black, $value);
    }
}

.hero-view {
    &.hero-sm {
        height: $hero-sm;
    }

    &.hero-lg {
        height: $hero-lg;
    }

    &.hero-xl {
        height: $hero-xl;
    }
}
