.r9-view {
    position: relative;

    .r9-mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

// .r9-hero {
//     height: 600px;

//     .r9-hero-cover {
//         object-fit: cover;
//     }
// }

// hero body

// .modal-sm
// .modal-lg
// .modal-xl
