// Hero

$hero-overlays: () !default;
$hero-overlays: map-merge(
    (
        '25': 0.25,
        '50': 0.5
    ),
    $hero-overlays
);

$hero-sm: 450px !default;
$hero-md: 600px !default;
$hero-lg: 750px !default;
$hero-xl: 100vh !default;

// Effects

$effect-transition: all 0.35s ease !default;
