// Hero

$hero-overlays: () !default;
$hero-overlays: map-merge(
    (
        '25': 0.25,
        '50': 0.5
    ),
    $hero-overlays
);

$hero-sm: 490px !default;
$hero-md: 640px !default;
$hero-lg: 740px !default;
$hero-xl: 100vh !default;
