# Visual Studio Code
.vscode/

# JetBrains
.idea/

# Node
node_modules/
package-lock.json

# Parcel
.cache/
dist/

# Gem
Gemfile.lock

# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
