// stylelint-disable declaration-no-important

// Animation

@mixin underline-from-left() {
    z-index: $zindex-animation;
    transition: $animation-base;

    span {
        position: relative;
        display: inline-block;
        overflow: hidden;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            content: '';
            border-bottom: 2px solid;
            transition: $animation-base;
            transform: scaleX(0);
            transform-origin: 0 50%;
        }
    }

    &:hover,
    &:focus,
    &:active {
        span::after {
            transform: scaleX(1);
        }
    }
}

@mixin button-sweep-to-right-variant(
    $color,
    $color-hover: color-yiq($color),
    $active-background: $color,
    $active-border: $color,
    $active-color: color-yiq($active-background)
) {
    position: relative;
    z-index: $zindex-animation;
    display: inline-block;
    overflow: hidden;
    color: $color;
    border-color: $color;
    transition: $animation-base;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        content: '';
        background-color: $color;
        transition: $animation-base;
        transform: scaleX(0);
        transform-origin: 0 50%;
    }

    &:hover {
        color: $color-hover;
        border-color: $active-border;

        &::after {
            transform: scaleX(1);
        }
    }

    &:focus,
    &.focus {
        box-shadow: 0 0 0 $btn-focus-width rgba($color, 0.5);
    }

    &:active,
    &.active,
    .show > &.dropdown-toggle {
        color: $active-color;
        border-color: $active-border;

        &::after {
            transform: scaleX(1);
        }

        &:focus {
            @if $enable-shadows and $btn-active-box-shadow != none {
                box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($color, 0.5);
            } @else {
                box-shadow: 0 0 0 $btn-focus-width rgba($color, 0.5);
            }
        }
    }

    &:disabled,
    &.disabled {
        color: $color;
    }
}
