// stylelint-disable declaration-no-important

// Effects

@mixin underline-from-left() {
    z-index: $zindex-effects;
    transition: $effects-transition;

    span {
        position: relative;
        display: inline-block;
        overflow: hidden;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            content: '';
            border-bottom: 2px solid;
            transition: $effects-transition;
            transform: scaleX(0);
            transform-origin: 0 50%;
        }
    }

    &:hover,
    &:focus,
    &:active {
        span::after {
            transform: scaleX(1);
        }
    }
}

@mixin sweep-to-right($color) {
    position: relative;
    z-index: $zindex-effects;
    display: inline-block;
    overflow: hidden;
    transition: $effects-transition;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        content: '';
        background-color: $color;
        transition: $effects-transition;
        transform: scaleX(0);
        transform-origin: 0 50%;
    }

    &:hover,
    &:focus,
    &:active {
        color: color-yiq($color) !important;
        background-color: transparent !important;

        &::after {
            transform: scaleX(1);
        }
    }
}
