// colors

$light: #f8f9fa;

// options

$enable-rounded: false;

// buttons

$btn-border-width: 2px;

// navbar

$navbar-padding-y: 0;
$navbar-padding-x: 0;

$navbar-nav-link-padding-x: 2.5rem;

$navbar-dark-color: $light;
$navbar-dark-hover-color: $light;

// imports

@import '~bootstrap/scss/bootstrap';
@import '../../scss/r9-components';

// navbar

.navbar {
    height: 155px;

    .nav-link {
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:not(.btn) {
            @include underline-from-left();

            span {
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
            }
        }

        &.btn-outline-light {
            @include sweep-to-right(theme-color('light'));

            margin-left: 2rem;
            padding: 1rem 4rem;
        }
    }
}

// hero

#hero-section .container {
    padding-top: 285px;
    padding-bottom: 260px;
}

// containers

.container {
    max-width: 90%;
}

#content-section {
    height: 1000px;
}
