// colors

$white: #fff;

// options

$enable-rounded: false;

// buttons

$btn-border-width: 2px;

// navbar

$navbar-padding-y: 0;
$navbar-padding-x: 0;

$navbar-nav-link-padding-x: 2.5rem;

$navbar-dark-color: $white;
$navbar-dark-hover-color: $white;

// imports

@import '~bootstrap/scss/bootstrap';
@import '../../scss/r9-components';

// custom

.container {
    max-width: 90%;
}

.navbar {
    height: 155px;

    .nav-link {
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;

        span {
            @include underline-from-left();
            padding-bottom: 0.25rem;
        }
    }
}

.hero {
    background-color: $black;
}

#content-section {
    height: 1000px;
}
