// colors

$light: #f8f9fa;

// navbar

$navbar-nav-link-padding-x: 2.5rem;

$navbar-dark-color: $light;
$navbar-dark-hover-color: $light;

// imports

@import '../../scss/variables';
@import '~bootstrap/scss/bootstrap';
@import '../../scss/r9-components';

// containers

.navbar .container {
    @include media-breakpoint-up(xx) {
        max-width: 90%;
    }
}

#content-section .container {
    @media (min-width: 1000px) {
        max-width: 900px;
    }
}

// navbar

.navbar {
    .nav-link {
        font-size: $font-size-base * 0.75;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        letter-spacing: 1px;

        &.btn-outline-light {
            margin-left: 2rem;
            padding: 1rem 4rem;

            &:hover,
            &:focus,
            &:active {
                color: $yiq-text-dark;
            }
        }
    }
}

.navbar-dark {
    height: 155px;
}

// content

#content-section .lead {
    line-height: 2.25;
}

// footer

#wrapper-footer {
    #call-to-action-section {
        .btn-outline-light {
            padding: 1rem 4rem;
            font-size: $font-size-base * 0.75;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    #legal-section {
        font-size: $font-size-base * 0.75;
    }
}
